# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# docker-compose override files
*docker-compose*override*

# Docker volumes or local databases
data/
volumes/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# This because we want to use mysql_native_password
# this need the password and user information
db/init-db.sql
client/src/lib/images/scary.jpg
client/yarn.lock
